BEGIN TRANSACTION;

CREATE TABLE contactos (
    id SERIAL PRIMARY KEY,
    nombre TEXT NOT NULL,
    email TEXT NOT NULL,
    telefono TEXT NOT NULL,
    mensaje TEXT NOT NULL,
    fecha TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


CREATE TABLE admin (
    id SERIAL PRIMARY KEY,
    email TEXT UNIQUE NOT NULL,
    password TEXT NOT NULL
);

INSERT INTO admin (id, email, password) VALUES
(1, 'admin@escuela.com', '$2b$10$wAxSiDx3ghM01FWjT3MVZO4ES/4pbOdnqJ97IkCgvzpgTey8HrbB.');

CREATE TABLE noticias (
    id SERIAL PRIMARY KEY,
    titulo TEXT NOT NULL,
    descripcion TEXT NOT NULL,
    imagen TEXT NOT NULL,
    fecha TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


COMMIT;
